APScheduler==3.11.0
attrs==25.3.0
beautifulsoup4==4.13.4
bs4==0.0.2
cattrs==24.1.3
certifi==2025.4.26
charset-normalizer==3.4.2
flatbuffers==25.2.10
idna==3.10
Markdown==3.8
numpy==2.2.5
opengraph-parse==0.0.6
openmeteo_requests==1.4.0
openmeteo_sdk==1.20.0
pandas==2.2.3
platformdirs==4.3.8
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-cache==1.2.1
retry-requests==2.0.0
six==1.17.0
soupsieve==2.7
typing_extensions==4.13.2
tzdata==2025.2
tzlocal==5.3.1
url-normalize==2.2.1
urllib3==2.4.0
